a:hover {
    animation: fadeIn ease;
    -webkit-animation: fadeIn ease;
    -moz-animation: fadeIn ease;
    -o-animation: fadeIn ease;
    -ms-animation: fadeIn ease; 
    color: rgb(3, 40, 85) !important;
  }