<div>
  <!-- <div class="container"> -->

    <div class="row">
          <div class="col-10 my_bg" [style.background-image]="'url(' + website_featured_image?.image + ')'" >
              <!-- <mdb-carousel class="w-100 carousel slide carousel-fade" [animation]="'fade'">
                  <mdb-carousel-item>
                    <div class="view w-100">
                      <img class="d-block w-100" src="../../../assets/slide3.jpg" alt="First slide">
                      <div class="mask waves-light" mdbWavesEffect></div>
                    </div>
                    <div class="carousel-caption">
                      <h3 class="h3-responsive">Light mask</h3>
                      <p>First text</p>
                    </div>
                  </mdb-carousel-item> -->
                  <!-- <mdb-carousel-item>
                    <div class="view w-100">
                      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
                      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
                    </div>
                    <div class="carousel-caption">
                      <h3 class="h3-responsive">Strong mask</h3>
                      <p>Secondary text</p>
                    </div>
                  </mdb-carousel-item> -->
                  <!-- <mdb-carousel-item>
                    <div class="view w-100">
                      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
                      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                    </div>
                    <div class="carousel-caption">
                      <h3 class="h3-responsive">Slight mask</h3>
                      <p>Third text</p>
                    </div>
                  </mdb-carousel-item> -->
                <!-- </mdb-carousel> -->
          </div>
          <div class="text-center col-2">

             <div style="margin: auto !important; margin-top: 50px !important; vertical-align: middle">
              <mdb-icon size="lg" class="wow fadeInUp" data-wow-delay="0.2s" fab icon="facebook-f"></mdb-icon> <br>
              <mdb-icon size="lg" class="wow fadeInUp" data-wow-delay="0.3s" fab icon="instagram"></mdb-icon> <br>
              <mdb-icon size="lg" class="wow fadeInUp" data-wow-delay="0.4s" fab icon="twitter"></mdb-icon> <br>
              <mdb-icon size="lg" class="wow fadeInUp" data-wow-delay="0.5s"fab icon="linkedin-in"></mdb-icon> <br>
              <mdb-icon size="lg" class="wow fadeInUp" data-wow-delay="0.6s" fab icon="whatsapp"></mdb-icon> 

             </div>
          </div>
        </div>
      <!-- </div> -->
      </div>