<div class="container" style="margin-top: 40px; margin-bottom: 50px;">
    <div class="row" >
        <div class="col-lg-6 col-md-6 col-sm-12">
                               
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 10px">
                    <!-- Post title -->
            <h3 class="font-weight-bold mb-3"><strong>Spring Summer 2020</strong></h3>
            <!-- Excerpt -->
            <p>The collection draws direct inspiration from a dancer’s wardrobe featuring elements such as open backs, cropped silhouettes, and wrap around closures. It is feminine and expressive whilst retaining the usual nods to masculinity.</p>
            <!-- Post data -->
            <!-- <p>by <a><strong>Carine Fox</strong></a>, 19/08/2018</p> -->
            <!-- Read more button -->
            <br>
            <a mdbBtn color="dark" routerLink="/allproducts" outline="true" mdbWavesEffect>SHOP NOW</a>
        </div>
    </div>
</div>