<div class="container text-center" style="background-color: white !important; height: auto !important; overflow: hidden">
                <p> &nbsp; </p> 
                <div class="container">
                        <h2 class="h1-responsive my-5">Join our <span class="font-weight-bold">#CoutreFamily</span></h2>

                        <section class="customer-logos slider">
                                
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>
                                 <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[0]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[1]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[2]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[3]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[4]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[5]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[6]?.image"></div>
                                <div class="slide"><img style="height: 250px !important; width: 250px !important" [src]="families[7]?.image"></div>

                                <!-- <div class="slide" *ngFor="let f of families"><img style="height: 250px !important; width: 250px !important" [src]="f?.image"></div> -->
                        </section> 
                </div> 
   


        
<!-- 
<div class="container">
        <h2>Our  Partners/ Our Clients</h2>
         <section class="customer-logos slider">
            <div class="slide"><img src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg"></div>
            <div class="slide"><img src="http://www.webcoderskull.com/img/logo.png"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/retro-label-on-rustic-background_82147503374.jpg"></div>
         </section>
         
      <h2><a href="http://www.webcoderskull.com" target="_blank">http://www.webcoderskull.com</a></h2>
      </div> -->
</div>