<div style="display: block !important">
        <app-header style="display: inline-block !important;  margin-bottom: 15% !important"></app-header>
        <router-outlet style="z-index: 1 !important"></router-outlet>
        <hr class="mt-7 my-7" style="margin-top: 5%; margin-bottom: 5%">
        <app-newsletter class="wow fadeInUp" data-wow-delay="0.2s"></app-newsletter>
        <hr class="mt-7 my-7" style="margin-top: 5%; margin-bottom: 5%">

        <app-footer class="wow fadeInUp" data-wow-delay="0.2s" style="display: block !important"></app-footer>
        
</div>