<!-- Footer -->
<footer style="height: 200px !important;" class="page-footer font-small white">

        <!-- Footer Links -->
        <div class="container">
    
        
                    <div class="text-dark footer-copyright text-center py-5  mt-5 pb-5">© 2020 Copyright:
                            <a href="https://mdbootstrap.com/"> Malon Global Tech</a>
                          </div>
       
    
        </div>
        <!-- Footer Links -->
    
        <!-- Copyright -->
        
        <!-- Copyright -->
    
      </footer>
      <!-- Footer -->